<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

    <appSettings>
        <add key="CompressionLevel" value="BestSpeed" />
      
        <add key="DefaultDestination" value="True" />
        <add key="DefaultDestinationName" value="_done" />
      
        <add key="IncludeComment" value="False" />
        <add key="Comment" value="Uploaded by DJ Team" />
    </appSettings>
</configuration>
